body {
    background-color:floralwhite;
    /*overflow:auto;*/
    max-height:100%;
}
#nav {
    line-height:30px;
    background-color:navajowhite;
    height:765px;
    width:250px;
    position:fixed;
    right:0;
    top: 10px;
    padding:5px;
}
#mapL40 {
    background: url(/static/image/L40.png);
    background-size:100%;
    opacity: 0.85;
    height:996px;
    width:1280px;
    position:relative;
    left:0;
    top:0;
    border:black solid thin;
    padding:0;
    margin: 5px;
}
#mapL20 {
    background: url(/static/image/L20.png);
    background-size:100%;
    opacity: 0.85;
    height:978px;
    width:1280px;
    position:relative;
    left:0;
    top: 0px;
    border:black solid thin;
    padding:0;
    margin:5px;
}
#calBtn{
    padding:5px;
    position:relative;
    left:10px
}
#loginBtn{
    padding:5px;
    position:relative;
    left:10px
}
label.floor {
    background: transparent;
    opacity: 1;
    float:left;
}
.marb8{
    margin-bottom:8px;
}
#start_point,#end_point{
    height:15px;
    width:130px;
}
#getBtn1,#getBtn2{
    background-color:#ffffff;
    padding: 0px;
    position: relative;
    left: 0px
}