body {
    background-color:floralwhite;
    overflow:auto;
    max-height:100%;
}
#nav {
    line-height:30px;
    background-color:navajowhite;
    height:765px;
    width:250px;
    position:fixed;
    right:0;
    top: 10px;
    padding:5px;
}
#mapL40 {
    background: transparent;
    height:775px;
    width:1280px;
    position:relative;
    left:0;
    top:0px;
    border:black solid thin;
    padding:0;
    margin: 5px;
}
#mapL20 {
    background: transparent;
    height:775px;
    width:1280px;
    position:relative;
    left:0;
    top: 0px;
    border:black solid thin;
    padding:0;
    margin:5px;
}
#calBtn{
    padding:5px;
    position:relative;
    left:10px
}
#loginBtn{
    padding:5px;
    position:relative;
    left:10px
}
label.floor {
    background: transparent;
    opacity: 0.5;
    float:left;
}
.marb8{
    margin-bottom:8px;
}
#start_point{
    height:15px;
    width:140px;
}
#end_point{
    height:15px;
    width:140px;
}
#getBtn1 {
    background-color:#ffffff;
    padding: 0px;
    position: relative;
    left: 0px
}
#getBtn2 {
    background-color:#ffffff;
    padding: 0px;
    position: relative;
    left: 0px
}