{#<?xml version="1.0" standalone="no"?>#}
{#<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"#}
{#"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">#}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/fabmap.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript">
{#    $(document).ready(function(){#}
{#    $('#mapL40').load('http://127.0.0.1:8000/L40/',function(responseText, textStatus, XMLHttpRequest){#}
{##}
{#this;//在这里this指向的是当前的DOM对象，即$(".ajax.load")[0]#}
{##}
{#//alert(responseText);//请求返回的内容#}
{#//alert(textStatus);//请求状态：success，error#}
{#//alert(XMLHttpRequest);//XMLHttpRequest对象#}
{#}#}
{#    $('#mapL20').load('L20.html');#}
{#    var htmlobj;#}
{#    htmlobj=$.ajax({url:"L40.html",async:false});#}
{#    $("#mapL40").html(htmlobj.responseText);#}
{#)})#}
</script>
</head>
<body>

<div id="mapL40">
    <label class="floor">L40</label>
    <svg width="100%" height="100%" version="1.1">
        {% for one_eq_vertex in all_vertex %}<polygon points="{{ one_eq_vertex }}" style="fill:#cccccc;stroke:#000000;stroke-width:0.3"/>{% endfor %}
        <polyline points="{{ path_node }}" style="fill:None;stroke:red;stroke-width:2"/>
    </svg>
</div>
<div id="mapL20">
    <label class="floor">L20</label>
    <svg width="100%" height="100%" version="1.1">
        {% for one_eq_vertex in all_vertex %}<polygon points="{{ one_eq_vertex }}" style="fill:#cccccc;stroke:#000000;stroke-width:0.3"/>{% endfor %}
        <polyline points="{{ path_node }}" style="fill:None;stroke:red;stroke-width:2"/>
    </svg>
</div>
<div id="nav">
    <h3>请输入坐标:</h3>
    <form action="{% url 'fabmap' %}" method="post" autocomplete="off">
        <div class="marb8 {% if login_form.errors.username %}errorput{% endif %}">
            <label>起点楼层</label>
            <input type="radio" name="start_floor" value="L20" />L20
            <input type="radio" name="start_floor" value="L40" />L40
        </div>
        <div class="marb8 {% if login_form.errors.username %}errorput{% endif %}">
            <label>起点坐标</label>
            <input name="start_point" id="start_point" type="text" placeholder="例:100,100" />
        </div>
        <div class="marb8 {% if login_form.errors.username %}errorput{% endif %}">
            <label>终点楼层</label>
            <input type="radio" name="end_floor" value="L20" />L20
            <input type="radio" name="end_floor" value="L40" />L40
        </div>
        <div class="marb8">
            <label>终点坐标</label>
            <input name="end_point" id="end_point" type="text" placeholder="例:200,200" />
        </div>
         <input id="loginBtn" type="submit" value="立即查询 > " />
        {% csrf_token %}
    </form>
    <form action="{% url 'fabmap' %}" method="get" autocomplete="off">
        <input id="calBtn" type="submit" name="purpose" value="重算路径" />
        {% csrf_token %}
    </form>
    <div>
        <h3>路径轨迹:</h3>
        <p>{{ msg1 }}</p>
        <p>{{ path_node }}</p>
    </div>
</div>
</body>
</html>